@import './base.css';

body {
	background-color: #e6efff;
}

.title {
	color: var(--black, #181818);

	font-family: 'Montserrat';
	font-size: 20px;
	font-style: normal;
	font-weight: 600;
	margin-bottom: 20px;
}

.btn {
	display: inline-block;
	cursor: pointer;
	outline: none;
	border: none;
	color: white;
	border-radius: 12px;
	padding: 10px 20px;
	font-family: Montserrat;
	font-size: 15px;
	font-weight: 500;
	background: var(--primary, #8cb2f0);
}
